<!--HEAD-->
<%-include('partials/head') %>

<body>

    <!--HEADER-->
    <%- include('partials/header') %>

    <div class="container-fluid">

        <div class="row">

            <!-- Detalles del producto-->
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

                <h1 class="detalle-titulo"> <%= producto.nombre %></h1>

                <h4 class="detalle-titulo">Descripcion </h4>
                <h5 class="detalle-titulo"><%= producto.descripcion %></h5>

                <h5 class="detalle-titulo2">Categoria </h5>
                <h6 class="detalle-titulo2"><%= producto.categoria.nombre %></h6>

                <h5 class="detalle-titulo2"> <%= producto.marca.nombre %></h5>

                <h5 class="detalle-titulo2">$  <%= producto.precio %></h5>

                
                <h3>Colores y talles</h3>
                
                <br>

                
                <select class="select-color" name="" id="">
                    <option value="">Color disponible</option>
                    <option value="<%= producto.color.color %>"><%= producto.color.color %></option>
                </select>

                <select class="select-talle" name="" id="">
                    <option value="">Talle disponible</option>
                    <option value="<%= producto.talle.talle %>"><%= producto.talle.talle %></option>
                </select>

                <br>

                <h3>Formas de pago</h3>

                <ul>

                    <li class="pagos" >Efectivo <img class="imagen-pagos" src="/img/redes/efectivo.png" alt=""></li>
                    <li class="pagos" >Visa <img class="imagen-pagos" src="/img/redes/visa.png" alt=""></li>
                    <li class="pagos" >Mastercard <img class="imagen-pagos" src="/img/redes/tarjeta-mastercard.png" alt=""></li>

                </ul>
            </div>

            

            <!--Imagen producto-->
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                <img class="detalle-imagen" src="/img/productosAgregados/<%= producto.imagenes %> " alt="img_producto">

            </div>


        </div>
        <% if (typeof usuario !== "undefined" && usuario.rango == 'administrador') { %>
        <form action="/productos/eliminar/<%= producto.id %>?_method=DELETE"
            method="POST">
            
        
        <button class="delete" type="submit">Eliminar</button>
       
            
                </form>
                <% } %>
                    
                <ul class="ul-elBoton">
                    <li class="li-elBoton" ><a class="elBoton" href="/productos/carrito">Comprar</a></li>
                    <% if (typeof usuario !== "undefined" && usuario.rango == 'administrador') { %>
                    <li class="li-elBoton"><a class="elBoton" href="/productos/editarProducto/<%= producto.id %>">Editar</a></li>
                    <% } %>
                </ul>
    
        

            


    </div>













       <!--FOOTER-->
       <%- include('partials/footer') %>